@import url("https://fonts.googleapis.com/css2?f1remamily=Poppins:wght@300;400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;1,400;1,600;1,700&display=swap");

/* Fonts */
/* Custom properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-color: green;*/
   background-image: url(../images/thumbs/bg.PNG);  
}

.notification {
  position: relative;
}

.dashboard {
  position: relative;
  display: flex;
  width: 100%;
  background-image: url(../images/BG.jpg);
}

.left-section {
  position: relative;
  display: block;
  width: 20%;
  margin-left: 1rem;
}

.dash-icons {
  margin-left: 0;

}

.dash-icons img {
  margin: 0;
  width: 64px;
  height: 64px;
  border-radius: 0.8rem;
}

.dash-icons img:hover {
  background-color: darkgoldenrod;
  border-top-right-radius: 0.8rem;
}

.dash-icons li {
  list-style: none;
}

.dash-icons a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.two-in-one {
  display: inline-flex;
  justify-content: first baseline;
  text-align: center;
}

.two-in-one span {
  padding: 1rem 1rem 1rem 0.8rem;
}

.two-in-one span:hover {
   background-color: darkgoldenrod;
  border-top-right-radius: 0.8rem;
}

.middle-section {
  position: relative;
  width: 70%;
  
}
.search-bar{
  position: relative;
  background-color: #ea990d;
  width: 100%; 
  display: flex;
  justify-content:center;
  }
.search{  
  width:70%;
  margin: 10px 0;
  padding: 1rem 0.4rem;
  border-radius: 0.5rem;
  text-align: center;
}
.title {
  position: relative;
  display: flex;
  width:100%;
  background-color: antiquewhite;
  justify-content: space-evenly;
  margin-left: 0;
  padding: 1rem;
}
.title h1{
  color: rgba(4, 4, 180, 0.92);
}
.title label {
  color: rgba(4, 4, 180, 0.92);
}
.sort{
  color: rgba(4, 4, 180, 0.92);
}

.gallery-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border: 0.1rem dashed white;
  background-image: url(../images/BG.jpg);
}

.gallery {
  display: block;
  padding: 1rem;
  position: relative;
  border: 0.1rem solid white;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}

.social-media {
  position: relative;
  display: block; 
  border: 0.1rem solid white;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  background-color: burlywood;
}

 .service {
  display: block;
  padding: 1rem;
  position: relative;
  border: 0.1rem solid white;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}


.contact {
  display: block;
  padding: 1rem;
  position: relative;
  border: 0.1rem solid white;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}

.meta {
  position: relative;
  color: white;
  padding: 1rem;
  margin-left: 95%;
  margin-bottom: 2rem;
  cursor: pointer
}

.right-section {
  position: relative;
  width: 10%;
}
.right-section-icon {
  position: relative;
  display: flex;
  margin-top: 0;
  opacity: 0.9;
  justify-content: space-evenly;
}
.right-section li {
  list-style: none;
}
.right-section img {
  width: 40px;
  border-radius: 50%; 
}
/* insertimage-form start */
.insert-image-form{
  width:100%;
  z-index: 1;
  margin-top:-23rem;
  margin-left:1rem;
  background-color: #ea990d;
  margin-right: 1rem;
  padding:2rem;
  display: none;
} 

.text{
width: 100%;
background-color:white;
border-radius: 0.5rem;
font-size:1rem;
padding:0.5rem;
  
}
.file{
  padding: 1rem;
}
label {
color: white;
font-size: 1rem;
padding: 1rem;
}
.btn-submit{
display: block;
position: relative;
background-color: #F9A825;
border-radius: 1rem;
margin-top: 1rem;
padding: 1rem;
color: white;
cursor: pointer;
font-size: 1rem;
}

/* insertimage-form ends */


/* Media queries */
@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {}