*{
    margin: 0;
    box-sizing: border-box;
}
#index-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap:10px;
}
#index-gallery .gallry-img{
    width: 100%;
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    grid-template-areas:
    "gallery-p gallery-p gallery-p gallery-p" 
    "gallery-h2  gallery-h2 gallery-h2  gallery-h2"
    "img1 img2 img3 img4 "
    "img5 img6 img7 "; 
}
/* Images */
#index-gallery p{
   grid-area:gallery-p;
}
#index-gallery h2{
    grid-area:gallery-h2
}
    #index-gallery .img1{
        grid-area: img1;
    background-image: url("./images/thumbs/img2.jpg");
     }

     #index-gallery .img2{
         grid-area: img2;
          background-image: url("./images/thumbs/img2.jpg");
      } 
    
 #index-gallery .img3{
    grid-area: img3;
     background-image: url("./images/thumbs/img3.jpg");
 }
 #index-gallery .img4{
    grid-area: img4;
     background-image: url("./images/thumbs/img4.jpg");
 }
 #index-gallery .img5{
    grid-area: img5;
     background-image: url("./images/thumbs/img5.jpg");
 }
 #index-gallery .img6{
    grid-area: img6;
     background-image: url("./images/thumbs/img6.jpg");
 }
 #index-gallery .img7{
    grid-area: img7;
     background-image: url("./images/thumbs/img7.jpg");
 }
 